.app-navbar{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


/* .active{
    color:white;
    background-color: #278bd3;
    height:2.5rem;
    width:8rem;
    border: 0;
    margin-right :1rem;
    font-family: "Roboto";
    border-radius: 0.3rem;
} */

.navbar-img-logo{
    height:3rem;
    width:11rem;
}