.refer-two-bg{
    background: linear-gradient(135deg, rgba(173, 216, 230, 0.7), rgba(255, 255, 255, 0.7));
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.5);
    height: 50vh;
    padding-bottom: 1rem;
    h1{
        text-align: center;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 1.5rem;
        span{
            color:rgb(21, 127, 220);
        }
    }
}

.refer-item-container{
    background: linear-gradient(135deg, rgba(173, 216, 230, 0.7), rgba(255, 255, 255, 0.7));
    box-shadow: 0 0 30rem rgba(196, 193, 193, 0.5);
    height:10rem;
    padding:1rem;
    width:100%;
    border-radius: 1rem;
    p{
        text-align: center;
        font-size: 0.9rem;
        font-family: "Roboto";
    }
}

.react-icon-refer-two{
    color:rgb(16, 88, 170);
    font-size: 5rem;
}

/* Default for larger devices */
  /* Medium devices */
  @media only screen and (max-width: 1024px) {
    .refer-two-bg {
      height: 50vh;
    }
  }
  
  /* Smaller devices */
  @media only screen and (max-width: 768px) {
    .refer-two-bg {
      height: 80vh;
    }
  }
  